<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
Name: <p th:text="${event.getName()}"></p>
<br>
Description: <p th:text="${event.getDescription()}"></p>
<br>
<div th:if="${event.getUpdatedAt()== null}">
    Created at: <p th:text="${event.getCreatedAt()}"></p>
</div>
<div th:if="${event.getUpdatedAt() != null}">
    Updated at: <p th:text="${event.getUpdatedAt()}"></p>
</div>

Picture:
<div th:if="${!event.image.isEmpty()}">
    <img alt="" th:src="*{'data:image/jpeg;base64,'+ event.image}" style="width: 100px;height: 100px;">
</div>
</body>
</html>