<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
Name: <p th:text="${event.getName()}"></p>
<br>
Description: <p th:text="${event.getDescription()}"></p>
<br>
<div th:if="${event.getUpdatedAt()== null}">
    Created at: <p th:text="${event.getCreatedAt()}"></p>
</div>
<div th:if="${event.getUpdatedAt() != null}">
    Updated at: <p th:text="${event.getUpdatedAt()}"></p>
</div>


<div th:if="${!event.image.isEmpty()}">
    Picture:
    <img alt="" th:src="*{'data:image/jpeg;base64,'+ event.image}" style="width: 100px;height: 100px;">
</div>

<br>

<div th:if="${!isDid}">
    <form th:action="@{/event/{id}(id=${event.getId()})}" th:method="POST">
        <input type="hidden" value="false" name="ratingAgain">
        <br>
        <p><input type="radio" value="1" name="rating">1</p>
        <br>
        <p><input type="radio" value="2" name="rating">2</p>
        <br>
        <p><input type="radio" value="3" name="rating">3</p>
        <br>
        <p><input type="radio" value="4" name="rating">4</p>
        <br>
        <p><input type="radio" value="5" name="rating" checked>5</p>
        <br>
        <br>
        <input type="submit" value="rate!">
    </form>
</div>

<div th:if="${isDid}">
    <p style="color: red">You rated it!</p>

    <form th:action="@{/event/{id}(id=${event.getId()})}" th:method="POST">
        <input type="hidden" value="true" name="ratingAgain">
        <br>
        <p><input type="radio" value="1" name="rating">1</p>
        <br>
        <p><input type="radio" value="2" name="rating">2</p>
        <br>
        <p><input type="radio" value="3" name="rating">3</p>
        <br>
        <p><input type="radio" value="4" name="rating">4</p>
        <br>
        <p><input type="radio" value="5" name="rating" checked>5</p>
        <br>
        <br>
        <input type="submit" value="rate!">
    </form>
</div>

<hr>
<a href="/mainPage">Main page!</a>
</body>
</html>