<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
Name:
<p th:text="${user.getName()}">name</p>
<br>
Surname:
<p th:text="${user.getSurname()}">surname</p>
<br>
Year of birth:
<p th:text="${user.getYearOfBirth()}">year</p>
<br>
E-mail:
<p th:text="${user.getEmail()}">email</p>
<br>
<hr>
<br>
<a th:href="@{/users/change}">Change user info</a>
<br>
<form th:action="@{/users/delete}" th:method="POST">
    <input type="submit" value="delete!">
</form>
<br>
<div th:if="${user.getRole().equals('ROLE_ADMIN')}">
    <a th:href="@{/adminPage}">Admin page</a>
</div>

<hr>
<a href="/mainPage">Main page!</a>
</body>
</html>